@if (open) {
<div class="fixed inset-0 bg-black/40 backdrop-blur-md z-40 transition-opacity"></div>

<div class="fixed inset-0 z-50 flex items-center justify-center p-4 sm:p-6 mt-17">
    <div class="relative w-full max-w-md bg-white rounded-2xl shadow-xl shadow-black/10 border border-gray-200
             max-h-[90vh] overflow-y-auto">

        <div class="absolute top-3 right-3 sm:top-4 sm:right-4">
            <button type="button" (click)="close.emit()"
                class="rounded-full p-1 text-gray-500 hover:text-gray-800 hover:bg-gray-100 flex items-center transition cursor-pointer">
                <i class="bx bx-x text-2xl"></i>
            </button>
        </div>

        <ng-content></ng-content>
    </div>
</div>
}