/*** Status ***/

.status-select ::ng-deep .ng-select-container {
    display: flex;
    align-items: center;
    border: 2px solid #d1d5db;
    /* gray-300 */
    border-radius: 0.5rem;
    /* rounded-lg */
    padding: 0.5rem 1rem;
    /* px-4 py-2 */
    min-height: 42px;
    cursor: pointer;
    transition: border-color 150ms ease-in-out;
}

.status-select ::ng-deep .ng-select-container:hover {
    border-color: #6366f1;
    /* indigo-500 */
}

.status-select ::ng-deep .ng-arrow {
    color: #6b7280;
    /* gray-500 */
}

.status-select ::ng-deep .ng-dropdown-panel {
    border: 1px solid #e5e7eb;
    /* gray-200 */
    border-radius: 0.375rem;
    /* rounded-md */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    /* shadow-lg */
}

.status-select {
    min-width: max-content;
}

/* Ensure the selected value doesn’t shrink */
.status-select ::ng-deep .ng-select-container {
    min-width: 9rem;
    /* adjust once, stays dynamic */
}

/* Prevent text wrapping */
.status-select ::ng-deep .ng-value,
.status-select ::ng-deep .ng-option {
    white-space: nowrap;
}

/*** Tasks per page ***/

:host ::ng-deep .tasks-per-page-select.ng-select {
    min-width: auto;
}

:host ::ng-deep .tasks-per-page-select .ng-select-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* gap-2 */
    border-width: 2px;
    border-style: solid;
    border-color: #d1d5db;
    /* gray-300 */
    padding: 0 1rem;
    /* py-2 px-4 */
    border-radius: 0.5rem;
    /* rounded-lg */
    cursor: pointer;
    transition: border-color 150ms ease-in-out;
    min-height: 2.75rem;
}

:host ::ng-deep .tasks-per-page-select .ng-select-container:hover {
    border-color: #6366f1;
    /* indigo-500 */
}

/* Remove default input spacing */
:host ::ng-deep .tasks-per-page-select .ng-value-container {
    padding: 0;
}

/* Hide search caret spacing */
:host ::ng-deep .tasks-per-page-select .ng-input {
    display: none;
}

/* Chevron icon */
:host ::ng-deep .tasks-per-page-select .ng-arrow {
    border: none;
}