<div class="flex flex-col w-full gap-4 mb-5">

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-3 w-full min-w-0 lg:flex lg:flex-row relative">

        <!-- Search Input (1 col) -->
        <div class="relative w-full min-w-0 sm:col-span-2 lg:flex-1 lg:min-w-36.25">
            <input type="search"
                class="w-full border-2 border-gray-300 pr-10 pl-4 py-2 rounded-lg text-sm sm:text-base focus:outline-none h-11 placeholder:text-gray-400"
                placeholder="Search..." [formControl]="searchControl" />
            <i class="bx bx-search absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 cursor-pointer"></i>
        </div>

        <!-- Users Select (1 col) -->
        <div class="min-w-35 sm:col-span-1">
            <ng-select class="user-select w-full" [items]="assignedUserOptions()" [clearable]="false" bindLabel="name"
                bindValue="id" [(ngModel)]="selectedAssignedUser" [searchable]="false" [closeOnSelect]="true"
                [clearable]="true">
                <ng-template ng-placeholder-tmp #placeholder>
                    <span class="text-gray-400 font-semibold whitespace-nowrap">Users</span>
                </ng-template>
            </ng-select>
        </div>

        <div class="sm:col-span-2 flex gap-3">
            <div class="min-w-60 flex-[1_0_15rem]">
                <input ngxDaterangepickerMd [(ngModel)]="dateRange" [autoApply]="false" [alwaysShowCalendars]="true"
                    [showClearButton]="true" [drops]="'down'" [opens]="'right'" [locale]="{ format: 'DD/MM/YYYY' }"
                    [linkedCalendars]="true" placeholder="Date range"
                    class="border-2 border-gray-300 px-4 py-2 rounded-lg w-full cursor-pointer text-sm sm:text-base h-11 placeholder:text-gray-400"
                    (click)="toggleDatePicker()" [title]="dateRange()?.startDate && dateRange()?.endDate 
                ? ( (dateRange()?.startDate | date:'dd/MM/yyyy':'UTC') + ' to ' + (dateRange()?.endDate | date:'dd/MM/yyyy':'UTC') )
                : ''" />
            </div>

            <!-- Status Select (1 col) -->
            <div class="relative flex-[0_1_10rem] min-w-25">
                <ng-select class="status-select filter-select w-full" [items]="statusOptions()" bindLabel="label"
                    bindValue="value" [(ngModel)]="selectedStatus" [clearable]="false" [searchable]="false"
                    [closeOnSelect]="true">
                    <ng-template ng-placeholder-tmp #statusPlaceholder>
                        <span class="text-gray-400 font-semibold whitespace-nowrap">Status</span>
                    </ng-template>

                    <ng-template ng-label-tmp let-item="item">
                        @if (item?.value !== null) {
                        <span class="whitespace-nowrap" [ngClass]="{
                        'text-green-600': item.value === 'COMPLETED',
                        'text-yellow-600': item.value === 'IN_PROGRESS',
                        'text-red-600': item.value === 'INCOMPLETE'
                    }">
                            {{ item.label }}
                        </span>
                        } @else {
                        <ng-template [ngTemplateOutlet]="statusPlaceholder"></ng-template>
                        }
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item">
                        <span class="whitespace-nowrap" [ngClass]="{
                        'text-gray-700': item.value === null,
                        'text-green-600': item.value === 'COMPLETED',
                        'text-yellow-600': item.value === 'IN_PROGRESS',
                        'text-red-600': item.value === 'INCOMPLETE'
                    }">
                            {{ item.label }}
                        </span>
                    </ng-template>
                </ng-select>
            </div>
        </div>

        <!-- Add Task + Switch (1 col) -->
        <div class="flex items-center gap-3 sm:col-span-1">

            <button [disabled]="!canCreateTaskSig()" [class.opacity-40]="!canCreateTaskSig()"
                [class.cursor-not-allowed]="!canCreateTaskSig()" class="w-full h-11 px-4 rounded-lg
  bg-linear-to-r from-purple-600 to-indigo-600
  text-white text-base
  shadow-md shadow-purple-500/30
  hover:shadow-lg hover:shadow-purple-500/40
  lg:hover:scale-105 transition-all duration-200
  whitespace-nowrap min-w-20 flex items-center justify-center" (click)="canCreateTaskSig() && addTask.emit()"
                [title]="'Add Task'">

                <span>Add Task</span>

            </button>

            <label class="relative inline-flex items-center cursor-pointer select-none"
                [title]="isUISwitched() ? 'Switch to Grid View' : 'Switch to Kanban View'">

                <input type="checkbox" class="sr-only peer" [checked]="isUISwitched()"
                    (change)="isUISwitched.set($event.target.checked)" />

                <div class="w-20 h-11 bg-gray-200 rounded-xl peer-checked:bg-indigo-100
                    transition-colors duration-300 shadow-inner flex items-center px-1">
                    <div class="w-full flex justify-between px-2 text-gray-400">
                        <i class="bx bx-table text-lg"></i>
                        <i class="bx bx-columns-3 text-lg"></i>
                    </div>
                </div>

                <div class="absolute left-1 top-1 h-9 w-9 rounded-lg
                    bg-linear-to-r from-purple-600 to-indigo-600
                    shadow-md transition-all duration-300
                    peer-checked:translate-x-9 flex items-center justify-center text-white">
                    <i class="bx text-lg" [ngClass]="isUISwitched() ? 'bx-columns-3' : 'bx-table'"></i>
                </div>

            </label>

        </div>

    </div>

</div>