<!-- <td class="w-8 text-center">
    <span cdkDragHandle class="cursor-grab text-gray-400 hover:text-gray-700">
        <i class="bx bx-menu"></i>
    </span>
</td> -->

<!-- Display ID -->
<td class="px-1.5 sm:px-4 py-2 sm:py-3 font-medium align-middle">
    <div class="flex items-center h-full">
        <div cdkDragHandle class="cursor-grab text-gray-400 hover:text-gray-700 pr-2 flex justify-center items-center">
            <i class="bx bx-menu"></i>
        </div>
        <div>
            {{ task.displayId }}
        </div>
    </div>
</td>

<!-- Title -->
<td class="px-1.5 sm:px-4 py-2 sm:py-3 text-center font-medium text-gray-800">
    <span class="block truncate max-w-45 sm:max-w-none mx-auto">
        {{ task.title }}
    </span>
</td>

<!-- Status -->
<td class="px-1.5 sm:px-4 py-2 sm:py-3 text-center">
    <span
        class="inline-flex items-center px-2 py-1 sm:px-2.5 rounded-full text-[11px] sm:text-xs font-semibold whitespace-nowrap"
        [ngClass]="{
          'bg-green-50 text-green-600': task.status === 'COMPLETED',
          'bg-blue-50 text-yellow-600': task.status === 'IN_PROGRESS',
          'bg-red-50 text-red-600': task.status === 'INCOMPLETE'
        }">
        {{ task.status }}
    </span>
</td>

<!-- Due Date -->
<td class="px-1.5 sm:px-4 py-2 sm:py-3 text-gray-600 text-center whitespace-nowrap">
    {{ task.dueDate | date: 'dd/MM/yyyy' }}
</td>

<!-- ✅ Assigned Users (Signal Version) -->
<td class="px-1.5 sm:px-4 py-2 sm:py-3 text-center">
    <div #assigneeContainer class="assignees-container bordered" [class.expanded]="expandedSig()"
        [attr.title]="getUsersTooltip(assignedUsersSig())" [class.few-users]="visibleUsersSig().length <= 2">

        <div class="assignees-scroll flex justify-evenly">
            @for (user of visibleUsersSig(); track user.id) {
            <span class="assignee-chip">
                <img [src]="user.avatar" class="avatar" />
                <span class="name">{{ user.name }}</span>
            </span>
            }

            @if (!expandedSig() && hiddenCountSig() > 0) {
            <span class="assignee-chip more-chip cursor-pointer" (click)="toggleExpanded()">
                +{{ hiddenCountSig() }} more
            </span>
            }

        </div>
    </div>
</td>

<!-- Actions -->
<td class="px-1.5 sm:px-4 py-2 sm:py-3">
    <div class="flex justify-center">
        <div class="flex items-center justify-center gap-2 w-full sm:w-auto">

            <button
                class="flex items-center justify-center gap-1 px-2.5 sm:px-3 py-1 sm:py-1.5 rounded-md text-yellow-700 hover:bg-yellow-200 transition cursor-pointer"
                (click)="edit.emit(task)">
                <i class="bx bx-edit text-base"></i>
                <span class="whitespace-nowrap">Edit</span>
            </button>

            <button
                class="flex items-center justify-center gap-1 px-2.5 sm:px-3 py-1 sm:py-1.5 rounded-md text-red-700 hover:bg-red-200 transition cursor-pointer"
                (click)="delete.emit(task)">
                <i class="bx bx-trash text-base"></i>
                <span class="whitespace-nowrap">Delete</span>
            </button>

        </div>
    </div>
</td>