@media (max-width: 500px) {
    .horizontalNavBar {
        display: none;
    }

    .mobileNavBar {
        display: block;
    }
}

@media (min-width: 501px) {
    .horizontalNavBar {
        display: flex;
    }

    .mobileNavBar {
        display: none;
    }

    .mobileNavBarMenu {
        display: none;
    }
}