:host {
    display: block;
}

.pagination-sm ::ng-deep .ngx-pagination {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .pagination-sm {
        display: flex;
        justify-content: center;
    }

    .pagination-sm ::ng-deep .small-screen {
        display: flex;
        align-items: center;
        font-size: larger;
    }

    .clear-filters-button {
        display: flex;
        justify-content: center;
        font-weight: 900;
    }
}

/*** Tasks per page ***/
:host ::ng-deep .ng-dropdown-panel-items {
    border: 2px solid gray !important;
}


:host ::ng-deep .tasks-per-page-select.ng-select {
    width: 100%;
    min-width: 0;
}

:host ::ng-deep .tasks-per-page-select .ng-select-container {
    display: flex;
    align-items: center;
    /* gap-2 */

    border-width: 2px;
    border-style: solid;
    border-color: #d1d5db;
    /* gray-300 */

    /* same as status */
    border-radius: 0.5rem;
    /* rounded-lg */

    cursor: pointer;
    transition: border-color 150ms ease-in-out;

    height: 2rem;
    /* 44px (Tailwind h-11) */
    min-height: 2rem;
}

:host ::ng-deep .tasks-per-page-select .ng-select-container:hover {
    border-color: #6366f1;
    /* indigo-500 */
}

/* Remove default input spacing */
:host ::ng-deep .tasks-per-page-select .ng-value-container {
    padding: 0;
    align-items: center;
}

/* Hide search caret spacing */
:host ::ng-deep .tasks-per-page-select .ng-input {
    display: none;
}

/* Arrow */

:host ::ng-deep .ng-select .ng-arrow-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .ng-select .ng-arrow {
    display: none;
    /* hide default arrow */
}

:host ::ng-deep .ng-select .ng-arrow-wrapper::after {
    content: "▴";
    /* your custom arrow */
    font-size: 20px;
    color: #666;
    transition: transform 0.2s ease;
}

:host ::ng-deep .ng-select.ng-select-opened .ng-arrow-wrapper::after {
    transform: rotate(180deg);
    /* flip when open */
}

/* Prevent wrapping */
:host ::ng-deep .tasks-per-page-select .ng-value,
:host ::ng-deep .tasks-per-page-select .ng-option,
:host ::ng-deep .tasks-per-page-select .ng-placeholder {
    /* white-space: nowrap; */
}

:host ::ng-deep .tasks-per-page-select .ng-has-value {
    padding: 0 10px;
    gap: 0;
}

/* :host ::ng-deep .tasks-per-page-select .ng-has-value .ng-value-container {
    display: flex;
    justify-content: center;
} */

:host ::ng-deep .tasks-per-page-select.ng-select-opened .ng-select-container {
    z-index: 1;
}

:host ::ng-deep .tasks-per-page-select.ng-select-opened .ng-select-bottom {
    z-index: 45;
}