<div class="w-full border-t border-gray-200 bg-white px-3 sm:px-4 py-4 overflow-x-visible">
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-end gap-3 items-center">
        <div class="flex flex-col gap-5 justify-center sm:flex-row sm:items-center">
            <div class="text-sm text-gray-500 whitespace-nowrap flex justify-center">
                Total Tasks :
                <span class="ml-1 font-bold text-gray-900">{{ total }}</span>
            </div>

            <!-- Tasks per page -->
            <div class="relative max-w-50 md:flex-1 lg:w-50 lg:min-w-45 lg:max-w-75 footerContainer">
                <ng-select class="tasks-per-page-select filter-select w-full" [items]="pageSizeOptions()"
                    [clearable]="false" [searchable]="false" [ngModel]="selectedPageSize()"
                    (ngModelChange)="onPageSizeChange($event)" [closeOnSelect]="true" [dropdownPosition]="'top'"
                    [appendTo]="'.footerContainer'">
                    <ng-template ng-label-tmp let-item="item">
                        <span class="text-sm sm:text-base whitespace-nowrap">
                            Tasks per page : <strong>{{ item }}</strong>
                        </span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        {{ item }}
                    </ng-template>
                </ng-select>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center gap-3 sm:gap-4">
            <button (click)="clearFilters.emit()"
                class="text-sm font-medium text-gray-500 hover:text-gray-700 hover:underline focus:outline-none cursor-pointer text-left sm:text-center clear-filters-button underline">
                Clear Filters
            </button>

            @if(total > itemsPerPage) {
            <div class="flex items-center gap-2 text-sm">

                <button (click)="pageChange.emit(currentPage - 1)" [disabled]="currentPage === 1"
                    class="px-3 py-1 border rounded disabled:opacity-40">
                    Prev
                </button>

                @for (page of [].constructor(totalPages); track i; let i = $index) {
                <button (click)="pageChange.emit(i + 1)" [class.bg-indigo-600]="currentPage === i + 1"
                    [class.text-white]="currentPage === i + 1" class="px-3 py-1 border rounded">
                    {{ i + 1 }}
                </button>
                }

                <button (click)="pageChange.emit(currentPage + 1)" [disabled]="currentPage === totalPages"
                    class="px-3 py-1 border rounded disabled:opacity-40">
                    Next
                </button>

            </div>
            }
        </div>
    </div>
</div>