<div
    class="h-screen w-full bg-linear-to-r from-purple-600 via-fuchsia-600 to-indigo-600 flex items-center flex-col px-7">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">

        <!-- Total Tasks -->
        <div class="bg-white rounded-xl p-5 flex justify-between items-center shadow-sm mt-15">
            <div class="flex flex-col gap-3">
                <p class="text-sm font-semibold text-gray-500">Total Tasks</p>
                <p class="text-2xl font-bold text-gray-900">{{ totalTasks() }}</p>
                <p class="text-sm text-gray-400">Tasks created so far</p>
            </div>
            <div class="bg-purple-100 rounded-lg p-2 flex items-center">
                <i class="bx bx-list-ul text-3xl text-purple-600"></i>
            </div>
        </div>

        <!-- Completed Tasks -->
        <div class="bg-white rounded-xl p-5 flex justify-between items-center shadow-sm mt-15">
            <div class="flex flex-col gap-3">
                <p class="text-sm font-semibold text-gray-500">Completed Tasks</p>
                <p class="text-2xl font-bold text-gray-900">{{ completedTasks() }}</p>
                <p class="text-sm text-green-600">Great job!</p>
            </div>
            <div class="bg-green-100 p-2 rounded-lg flex items-center">
                <i class="bx bx-check-circle text-3xl text-green-600"></i>
            </div>
        </div>

        <!-- In Progress Tasks -->
        <div class="bg-white rounded-xl p-5 flex justify-between items-center shadow-sm mt-15">
            <div class="flex flex-col gap-3">
                <p class="text-sm font-semibold text-gray-500">In Progress Tasks</p>
                <p class="text-2xl font-bold text-gray-900">{{ inProgressTasks() }}</p>
                <p class="text-sm text-yellow-600">Keep going!</p>
            </div>
            <div class="bg-yellow-100 p-2 rounded-lg flex items-center">
                <i class="bx bx-loader-dots text-3xl text-yellow-600"></i>
            </div>
        </div>

        <!-- Incomplete Tasks -->
        <div class="bg-white rounded-xl p-5 flex justify-between items-center shadow-sm mt-15">
            <div class="flex flex-col gap-3">
                <p class="text-sm font-semibold text-gray-500">Incomplete Tasks</p>
                <p class="text-2xl font-bold text-gray-900">{{ incompleteTasks() }}</p>
                <p class="text-sm text-red-600">Needs attention</p>
            </div>
            <div class="bg-red-100 p-2 rounded-lg flex items-center">
                <i class="bx bx-x-circle text-3xl text-red-600"></i>
            </div>
        </div>

    </div>
    <div class="w-full bg-white rounded-lg px-10 pb-10 pt-7">
        <div class="flex w-full justify-between mb-5">
            <div class="relative w-72">
                <input type="search"
                    class="w-full border-2 border-gray-300 pr-10 pl-4 py-2 rounded-lg focus:outline-none"
                    placeholder="Search..." [formControl]="searchControl" />

                <i class="bx bx-search absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 cursor-pointer"></i>
            </div>

            <input ngxDaterangepickerMd [ngModel]="dateRange()" (ngModelChange)="dateRange.set($event)"
                [autoApply]="true" [showClearButton]="true" placeholder="Filter by date range"
                class="border-2 border-gray-300 px-4 py-2 rounded-lg w-64 cursor-pointer" />

            @if (dateRange()?.startDate && dateRange()?.endDate) {
            <button class="cursor-pointer py-2 px-2 rounded-lg bg-linear-to-r from-purple-600 to-indigo-600
           text-white shadow-md shadow-purple-500/30
           hover:shadow-lg hover:shadow-purple-500/40
           hover:scale-105 transition-all duration-200" (click)="clearDateRange()">
                Clear Date Range
            </button>
            }

            <div class="flex gap-2">
                <button class="cursor-pointer py-2 px-2 rounded-lg bg-linear-to-r from-purple-600 to-indigo-600
                 text-white
                 shadow-md shadow-purple-500/30
                 hover:shadow-lg hover:shadow-purple-500/40
                 hover:scale-105
                 transition-all duration-200" (click)="toggleDialog()">Add Task</button>
            </div>
        </div>

        <div class="border border-gray-200 rounded-xl shadow-sm overflow-hidden bg-white">
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left border-collapse">
                    <thead class="bg-gray-50 text-gray-600 uppercase text-xs sticky top-0">
                        <tr>
                            <th class="px-4 py-3 font-semibold">Task</th>
                            <th class="px-4 py-3 relative">
                                <button class="flex items-center gap-1 text-gray-700 hover:text-gray-900"
                                    (click)="openStatusDropdown($event)">
                                    Status
                                    <i class="bx bx-chevron-down text-sm"></i>
                                </button>
                            </th>
                            <th class="px-4 py-3 font-semibold">Due Date</th>
                            <th class="px-4 py-3 font-semibold">Action</th>
                        </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200">
                        @for (item of filteredTasks(); track item.id) {
                        <tr class="hover:bg-gray-50 transition">
                            <td class="px-4 py-3 font-medium text-gray-800">
                                {{ item.title }}
                            </td>

                            <td class="px-4 py-3">
                                <span class="inline-flex items-center px-2.5 py-1 rounded-full text-xs font-semibold"
                                    [ngClass]="{
            'bg-green-50 text-green-600': item.status === 'Completed',
            'bg-blue-50 text-yellow-600': item.status === 'InProgress',
            'bg-red-50 text-red-600': item.status === 'Incomplete'
        }">
                                    {{ item.status }}
                                </span>
                            </td>

                            <td class="px-4 py-3 text-gray-600">
                                {{ item.dueDate }}
                            </td>

                            <td class="px-4 py-3">
                                <div class="flex items-center gap-2">
                                    <button
                                        class="flex items-center gap-1 px-3 py-1.5 rounded-md text-yellow-700 hover:bg-yellow-50 transition"
                                        (click)="edit(item)">
                                        <i class="bx bx-edit text-base"></i>
                                        <span class="cursor-pointer">Edit</span>
                                    </button>

                                    <button
                                        class="flex items-center gap-1 px-3 py-1.5 rounded-md text-red-700 hover:bg-red-50 transition"
                                        (click)="delete(item.id!)">
                                        <i class="bx bx-trash text-base"></i>
                                        <span class="cursor-pointer">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    @if (showStatusDropdown) {
    <div class="fixed z-9999 w-44 bg-white border border-gray-200 rounded-md shadow-lg"
        [style.top.px]="dropdownPosition.top" [style.left.px]="dropdownPosition.left">
        <button class="block w-full text-left px-4 py-2 text-sm hover:bg-gray-100" (click)="selectStatus('')">
            All
        </button>

        <button class="block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 text-green-600"
            (click)="selectStatus('Completed')">
            Completed
        </button>

        <button class="block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 text-yellow-600"
            (click)="selectStatus('InProgress')">
            In Progress
        </button>

        <button class="block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 text-red-600"
            (click)="selectStatus('Incomplete')">
            Incomplete
        </button>
    </div>
    }

    @if(isDialogClosed == false) {

    <div class="bg-black/30 absolute inset-0 backdrop-blur-sm z-40"></div>

    <div class="absolute z-50 flex w-full h-screen justify-center items-center top-0 right-0">
        <div class="border-2 border-gray-200 py-10 px-10 mt-5 flex flex-col bg-white rounded-lg relative">


            <div class="absolute right-3 top-3 cursor-pointer">
                <button type="button" (click)="toggleDialog()">
                    <i class='bx bx-x text-2xl'></i>
                </button>
            </div>

            <div class="w-full flex justify-center mb-5">
                <p class="text-2xl font-bold">Add Task</p>
            </div>

            <form [formGroup]="taskForm" (ngSubmit)="submit()">

                <div class="border border-gray-400 flex items-center px-1 my-3 rounded-lg">
                    <i class='bx bx-edit'></i>
                    <input type="text" formControlName="title" class="outline-0 px-1 placeholder:text-gray-400 w-full"
                        placeholder="Task Name" />
                </div>

                @if(taskForm.controls.title.touched && taskForm.controls.title.invalid) {
                <p class="text-red-500 text-sm">Task name is required (min 3 chars)</p>
                }

                <div class="border border-gray-400 flex items-center px-1 my-3 rounded-lg">
                    <i class='bx bx-edit'></i>
                    <input type="date" formControlName="dueDate" class="outline-0 px-1 w-full" />
                </div>

                @if(taskForm.controls.dueDate.touched && taskForm.controls.dueDate.invalid) {
                <p class="text-red-500 text-sm">Due date is required</p>
                }

                <div class="border border-gray-400 flex items-center px-1 my-3 rounded-lg">
                    <i class='bx bx-edit'></i>
                    <select formControlName="status" class="outline-0 w-full">
                        <option value="Incomplete">Incomplete</option>
                        <option value="Completed">Completed</option>
                        <option value="InProgress">In Progress</option>
                    </select>
                </div>

                <div class="flex items-center justify-center mt-7 mb-3">
                    <button type="submit" [disabled]="taskForm.invalid" class="cursor-pointer py-2 px-4 rounded-lg
                 bg-linear-to-r from-purple-600 to-indigo-600
                 text-white shadow-md shadow-purple-500/30
                 hover:shadow-lg hover:shadow-purple-500/40
                 hover:scale-105 transition-all duration-200
                 disabled:opacity-50 disabled:cursor-not-allowed">
                        Add Task
                    </button>
                </div>

            </form>
        </div>
    </div>

    }
</div>